.about-wrap .about-section {
  position:relative;
  padding-top:100px;
}

.about-wrap .about-section a {
  color:#1a1a1a;
}

.about-section .icon-container a {
  font-size:18px;
  margin-right:0.4em;
}

.about-section .about-logo img {
  /*margin-bottom: 70px;*/
  width:100%;
}

.about-section p {
  /*text-align:justify;*/
}

.about-section .faded {
  opacity:0.6;
  font-weight:bold;
}

.bold {
  font-weight:bold;
}

.about-wrap .about-section a {
  font-weight:bold;
  color: rgba(122, 31, 61);
}
