/*********************
*** Navbar section
**********************/

.header-nav {
    position:fixed;
    height:55px;
    width:100%;
    top:0;
    left:0;
    right:0;
    padding:10px 10px 0;
    z-index:1000;
    pointer-events:none;
}

.brand {
    margin-top:20px;
    pointer-events:auto;
}

#logo {
    height:40px;
}

.toggle {
    position:absolute;
    right:0;
    top:0;
    cursor:pointer;
    pointer-events:auto;
}

.toggle span {
    position:absolute;
    right:36px;
    top:27px;
    letter-spacing: 3.2px;
    font-weight:700;
}

.toggle .menu-text {
    font-size:14px;
}

/*********************
*** Canvas section
**********************/

#header-canvas {
    position:absolute;
    right:10px;
    top:0;
    height:60px;
    width:100px;
}

/*********************
*** Full Menu section
**********************/

.full-menu {
    position:fixed;
    top:-100%;
    left:0;
    height:100vh;
    width:100%;
    background-color:#fff;
    z-index:999;

    transition: top 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.full-menu.active {
    top:0%;

    transition: top 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-link {
    position:absolute;
    font-size:48px;
    font-weight:900;
    color:#1a1a1a;
    text-decoration:none;
}

.menu-link {

}

.menu-link.home {
    top:25%;
    left:25%;
}

.menu-link.about {
    top:48%;
    right:25%;
}

.menu-link.contact {
    bottom:33%;
    left:35%;
}
