/*********************
*** Navbar section
**********************/

.header-nav {
    position:fixed;
    display:flex;
    height:55px;
    width:100%;
    top:0;
    left:0;
    right:0;
    padding:20px 10px 0;
    z-index:1000;
    pointer-events:none;
}

.brand {
    pointer-events:auto;
    opacity:1;

    transition: opacity 0.3s;
}

.brand.hidden {
    opacity:0;
}

#logo {
    height:40px;
}

.toggle {
    margin-left: auto;
    cursor:pointer;
    pointer-events:auto;
    padding-right:20px;
    padding-top:20px;
}

.menu-text {
    letter-spacing: 3.2px;
    font-weight:700;
    font-size:14px;
}

.light .menu-text {
    color:#fff !important;
}

.open-menu {
    margin-left:auto;
}

.open-menu .menu-text {
    position:relative;
    padding:10px;
    color:#212529;
    cursor:pointer;
    pointer-events:auto;
    text-decoration:none;
}

.open-menu .menu-text:not(.hire):after {
    content:"";
    position:absolute;
    background-color:#212529;
    height:2px;
    width:calc(100% - 10px);
    left:5px;
    bottom:calc(100% + 7px);
    /*transform:rotate(90deg);*/
    /*transform-origin: top left;*/
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

.open-menu .menu-text.first:after {
    background-color:#ffd451;
}

.open-menu .menu-text.second:after {
    background-color:#73d256;
}

.open-menu .menu-text:not(.hire):hover:after {
    opacity:1;
    bottom:7px;
    transform:rotate(0deg);
}

.menu-text.hire {
    /*position:absolute;*/
    background-color:#e05c5c;
    color:#fff;
    border-radius:1em;
    transition: background-color 0.5s;
}

.menu-text.hire:hover {
    background-color:#d82f2f;
}

/*********************
*** Canvas section
**********************/

#header-canvas-wrap {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

/*********************
*** Full Menu section
**********************/

.header-wrap .full-menu {
    position:fixed;
    top:-120%;
    left:0;
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.9);
    z-index:999;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;

    transition: top 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header-wrap.active .full-menu {
    top:0%;

    transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-wrap.active .menu-text {
    color:#fff;
}

.menu-link {
    /*position:absolute;*/
    display:block;
    font-size:48px;
    font-weight:900;
    color:#fff;
    text-decoration:none;
    margin-bottom:1em;
}

.menu-link.selected {
    color:#888;
    pointer-events:none;
    cursor:pointer;
}

.menu-link:hover {
    color:#888;
}

/*.menu-link.home {
    top:25%;
    left:25%;
}

.menu-link.about {
    top:48%;
    right:25%;
}

.menu-link.contact {
    bottom:33%;
    left:35%;
}
*/

@media print {
    .header-wrap .full-menu {
        display:none;
    }

    .header-wrap .toggle {
        display:none;
    }
}