/*********************
*** Enter/Exit Animations
**********************/

.home.page-level-enter {
  opacity: 0.01;
}

.home.page-level-enter.page-level-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.home.page-level-exit {
  opacity: 1;
  z-index:-1;
}

.home.page-level-exit.page-level-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.home .name-wrap {
  opacity:0;
  animation-duration:1000ms;
  animation-name:fadeblurin;
  animation-delay:500ms;
  animation-fill-mode: forwards;
}

.name-wrap canvas {
  margin: 0;
  width: 90%;
  max-width:500px;
  height: 100%;
  max-height:70vh;
  background-color: transparent;
}

.home .services-copy {
  opacity:0;
  animation-duration:500ms;
  animation-name:slidefadein;
  animation-delay:1700ms;
  animation-fill-mode: forwards;
}

.home .header-nav {
  top:-65px;
  animation-duration:500ms;
  animation-name:slidein;
  animation-delay:1700ms;
  animation-fill-mode: forwards;
}

@keyframes fadeblurin {
  from {
    /*filter: blur(20px);*/
    opacity:0;
  }

  to {
    /*filter: blur(0px);*/
    opacity:1;
  }
}

@keyframes slidein {
  from {
    top:-65px;
  }

  to {
    top:0px;
  }
}

@keyframes slidefadein {
  from {
    opacity:0;
    transform:translate(0,2em);
  }

  to {
    opacity:1;
    transform:translate(0,0);
  }
}

/*********************
*** General
**********************/

.home {
  position:relative;
}

.home .intro-section {
  position:relative;
  min-height: 100vh;
  padding: 0 15%;

  display: flex;
  flex-direction:column;
  align-items: left;
  justify-content:center;
}

.home .intro-copy-wrap {
  position:relative;
  /*text-align:center;*/
  width:100%;
  /*pointer-events:none;*/
  flex:none;
}

.home .intro-copy-wrap .name-wrap img {
  width: 90%;
  max-width:600px;
  max-height:80vh;
  margin: 25px 0 0 0;
}

.home .intro-copy-wrap .name-wrap .name-text {
  font-size:36px;
  /*font-weight:700;*/
}

.home .intro-copy-wrap .services-copy {
  font-size:36px;
  font-weight:700;
  margin-top:3%;
  text-shadow: 0 0 1px #eee;
  padding:2%;
}

/*********************
*** Portfolio section
**********************/

.home .home-portfolio-wrap {
  position:relative;
  padding-top:100px;
}

.home-portfolio-wrap .portfolio-title {
  font-size:36px;
  text-align: center;
  margin-bottom:1em;
  opacity:0.7;
}

.home .home-portfolio-wrap .piece-wrap {
  padding:2em;
}

/*********************
*** Responsive
**********************/

@media only screen and (max-width : 480px) {


  /*********************
  *** Home section
  **********************/

  .home .intro-copy-wrap .name-wrap img {
    margin: 25% 0 0 -4%;
    width: 80%;
  }

}