html {
  height:100%;
}

body {
  position:relative;
  min-height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.noscroll {
  overflow: hidden;
}

.dark-link {
  color:#222;
  text-decoration:underline;
}

.highlight-0 {
  background-color:#222;
  color:#fff;
  padding: 0.2em 0.3em;
  white-space: nowrap;
}

.highlight-1 {
  background-color:#73d256;
  padding: 0.2em 0.3em;
  white-space: nowrap;
}

.highlight-2 {
  background-color:#8ec3f1;
  padding: 0.2em 0.3em;
  white-space: nowrap;
}

.highlight-3 {
  background-color:#ffd451;
  padding: 0.2em 0.3em;
  white-space: nowrap;
}

@import "About.css";
@import "Contact.css";
@import "HeaderNav.css";
@import "Home.css";
@import "PortfolioPiece.css";
@import "ViewPortfolioPiece.css";
