html {
  height:100%;
}

body {
  position:relative;
  min-height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.noscroll {
  overflow: hidden;
}

@import "About.css";
@import "HeaderNav.css";
@import "Home.css";
@import "PortfolioPiece.css";
@import "ViewPortfolioPiece.css";
